  #crud-app-deployment.yaml
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: crud-app-deployment
  spec:
    replicas: 2
    selector:
      matchLabels:
        app: crud-app
    template:
      metadata:
        labels:
          app: crud-app
      spec:
        containers:
          - name: crud-app
            image: mjprateek07/crud-app:latest
            ports:
              - containerPort: 9090
            env:
              - name: DB_HOST
                valueFrom:
                  configMapKeyRef:
                    name: app-config
                    key: DB_HOST
              - name: DB_PORT
                valueFrom:
                  configMapKeyRef:
                    name: app-config
                    key: DB_PORT
              - name: DB_NAME
                valueFrom:
                  configMapKeyRef:
                    name: app-config
                    key: DB_NAME
              - name: DB_USER
                valueFrom:
                  secretKeyRef:
                    name: app-secret
                    key: DB_USER
              - name: DB_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: app-secret
                    key: DB_PASSWORD
            livenessProbe:
              httpGet:
                path: /api/employees/health
                port: 9090
              initialDelaySeconds: 60
              periodSeconds: 10
            readinessProbe:
              httpGet:
                path: /api/employees/health
                port: 8080
              initialDelaySeconds: 30
              periodSeconds: 5
